<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>about us</title>

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/css/styles.css">
<style>
    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
      }
      
      .large-logo {
        max-width: 100%;
        max-height: 85px; /* Set your preferred maximum height */
        height: auto;
      }
   .logo .small-logo{
      
      width: 112px;
      height: 85px;
      border-radius: 20px;
  }
   .logo img{
      width: 100%;
      height: 100%;
   }
   @media screen and (max-width: 1600px) {
      .logo .large-logo {
          display: block; /* Hide the large logo on small screens */
      }
      .logo .small-logo {
          display: none; /* Show the small logo on small screens */
      }
  }
  @media screen and (max-width: 600px) {
      .logo .large-logo {
          display: none; /* Hide the large logo on small screens */
      }
      .logo .small-logo {
          display: block; /* Show the small logo on small screens */
      }
  }



  .container {
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  .p1{
    color: #666;
    margin-top: 10px;
  }
  
  
</style>
</head>
<body>

<header class="header">
   
   <section class="flex">

      <a href="#" class="logo">
         <img class="large-logo" src="/images/redlogo.png">
            <img class="small-logo" src="/images/block_logo.png" alt="Small Logo">
      </a>

      <form action="#" method="post" class="search-form">
         <input type="text" name="search_box" required placeholder="search courses..." maxlength="100">
         <button type="submit" class="fas fa-search"></button>
      </form>

      <div class="icons">
         <div id="menu-btn" class="fas fa-bars"></div>
         <div id="search-btn" class="fas fa-search"></div>
         <div id="user-btn" class="fas fa-user"></div>
         <div id="toggle-btn" class="fas fa-sun"></div>
      </div>

      <div class="profile">
         <img src="/images/pic-1.jpg" class="image" alt="">
         <h3 class="name"><%= user.username %></h3>
         <p><%= user.role %></p>
         <p class="role">College Admin</p>
         <a href="/adminProfile/<%= userId %>" class="btn">view profile</a>
         <div class="flex-btn">
            <a href="/logout" class="option-btn">logout</a>
            <a href="/update/<%= userId %>" class="option-btn">Update</a>
         </div>
      </div>

   </section>

</header>   

<div class="side-bar">

   <div id="close-btn">
      <i class="fas fa-times"></i>
   </div>

   <div class="profile">
      <img src="/images/pic-1.jpg" class="image" alt="">
      <h3 class="name"><%= user.username %></h3>
      <p><%= user.role %></p>
      <p class="role">College Admin</p>
      <a href="/adminProfile/<%= userId %>" class="btn">view profile</a>
   </div>

   <nav class="navbar">
    <a href="/admin/<%= userId %>"><i class="fas fa-home"></i><span>Dashboard</span></a>
      
    <a href="/adminAttendance/<%= userId %>"><i class="fas fa-graduation-cap"></i><span>Attendance</span></a>
    <a href="/adminAssignment/<%= userId %>"><i class="fa-solid fa-coins"></i></i><span>Assignment</span></a>
    <a href="/createClass/<%= userId %>"><i class="fas fa-question"></i><span>Create Class</span></a>
    <a href="/adminContact/<%= userId %>"><i class="fas fa-headset"></i><span>Contact Us</span></a>
   </nav>

</div>

<section class="about">

    <div class="container">
        <h1>Coming Soon</h1>
        <p class="p1">We're working on something amazing. Stay tuned!</p>
      </div>
</section>







<%- include('what.ejs') %>





<!-- <footer class="footer">

   &copy; copyright @ 2022 by <span>blockcept.ai</span> | all rights reserved! -->
   <!-- &copy; copyright @ 2023 by <span>blockcept.ai</span> | all rights reserved! -->

<!-- </footer> -->

<!-- custom js file link  -->
<script src="/js/scripts.js"></script>

   
</body>
</html>
